.jumbotron {
    background-color: #233554;
    color: floralwhite;
    padding: 70px 30px;
    margin-bottom: 2rem;
    border-radius: .3rem;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer {
    background-color: #a8b2d1;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}

body {
    padding-top: 50px;
    z-index: 0;
}
.breadcrumb-divide
{
    breadcrumb-divider: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E");
}
